@media (min-width: 500px) {
  .App {
    max-width: 500px !important;
    width: 100% !important;
    margin: 0 auto !important;
  }
}

.App {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  width: 100%;
}
div {
  display: block;
  unicode-bidi: isolate;
}
